<div class="about-me">
  <span class="title-about">Про Мене</span>
  <span class="descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Ad adipisci at autem blanditiis commodi consequuntur corporis dicta,
    doloribus fuga impedit labore, laboriosam laudantium molestiae necessitatibus porro,
    quod repellendus voluptatem? Soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Debitis dolor fuga nihil voluptates! Adipisci beatae culpa dolorem magnam minus, voluptatum?</span>
</div>
