<div class="my-works-container">
  <div class="works-title"><span>Мої Роботи</span></div>
  <div class="albums-list">
    <span>Весілля</span>
    <span>Портрет</span>
    <span>Love Story</span>
    <span>Сім'я</span>
  </div>
  <div class="works-images">
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
<!--    <img src="assets/images/wed.jpg" alt="">-->
<!--    <img src="assets/images/wed.jpg" alt="">-->
<!--    <img src="assets/images/wed.jpg" alt="">-->
<!--    <img src="assets/images/wed.jpg" alt="">-->
<!--    <img src="assets/images/wed.jpg" alt="">-->
<!--    <img src="assets/images/wed.jpg" alt="">-->
<!--    <img src="assets/images/wed.jpg" alt="">-->
<!--    <img src="assets/images/wed.jpg" alt="">-->
<!--    <img src="assets/images/wed.jpg" alt="">-->
<!--    <img src="assets/images/wed.jpg" alt="">-->
<!--    <img src="assets/images/wed.jpg" alt="">-->
<!--    <img src="assets/images/wed.jpg" alt="">-->
  </div>
</div>

