<div class="list-cont">
  <p class="price-list-title">Прайс-лист фотосесій</p>
  <p class="price-list-descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Aliquam aliquid aspernatur aut beatae, consequatur corporis cum cumque debitis deleniti ducimus eos
    et eum explicabo hic illum impedit in itaque laudantium maiores minima minus
    molestiae molestias mollitia nihil obcaecati omnis placeat porro provident rem totam unde vel veniam vitae. Ad, eum.</p>
  <div class="price-list-cards">
    <div class="card">
      <p class="card-title">Love Story</p>
      <p class="cursive-text">Мінімум 1 година.</p>
      <p class="cursive-text">10-20 оброблених фото.</p>
      <p class="cursive-text">Ретушування.</p>
      <p class="cursive-text">100% оплати зазвичай в день фотосесії.</p>
      <p class="cursive-text">Тривалість обробки 5-10 днів.</p>
      <p class="card-price none-border">600 грн.</p>
    </div>
    <div class="card">
      <p class="card-title">Love Story</p>
      <p class="cursive-text">Мінімум 1 година.</p>
      <p class="cursive-text">10-20 оброблених фото.</p>
      <p class="cursive-text">Ретушування.</p>
      <p class="cursive-text">100% оплати зазвичай в день фотосесії.</p>
      <p class="cursive-text">Тривалість обробки 5-10 днів.</p>
      <p class="card-price none-border">600 грн.</p>
    </div><div class="card">
    <p class="card-title">Love Story</p>
    <p class="cursive-text">Мінімум 1 година.</p>
    <p class="cursive-text">10-20 оброблених фото.</p>
    <p class="cursive-text">Ретушування.</p>
    <p class="cursive-text">100% оплати зазвичай в день фотосесії.</p>
    <p class="cursive-text">Тривалість обробки 5-10 днів.</p>
    <p class="card-price none-border">600 грн.</p>
  </div><div class="card">
    <p class="card-title">Love Story</p>
    <p class="cursive-text">Мінімум 1 година.</p>
    <p class="cursive-text">10-20 оброблених фото.</p>
    <p class="cursive-text">Ретушування.</p>
    <p class="cursive-text">100% оплати зазвичай в день фотосесії.</p>
    <p class="cursive-text">Тривалість обробки 5-10 днів.</p>
    <p class="card-price none-border">600 грн.</p>
  </div>
  </div>
</div>
